.checkers {
    background-color: rgb(245, 200, 200);

    &__score {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 3rem;
        color: rgb(50, 50, 50);

        &--player1 {
            background-color: rgb(230, 230, 230);
            border: 0.7rem solid darken(rgb(230, 230, 230), 10%);
            padding: 2rem 1.5rem;
        }

        &--player2 {
            background-color: rgb(255, 179, 179);
            border: 0.7rem solid darken(rgb(255, 179, 179), 10%);
            padding: 2rem 1.5rem;
        }

        &--draws {
            background-color: rgb(250, 250, 150);
            border: 0.7rem solid darken(rgb(250, 250, 150), 20%);
            padding: 2rem 2.5rem;
        }

        & > * {
            border-radius: 2rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;

            & > :last-child {
                margin-top: 1.5rem;
                font-size: 2.5rem
            }
        }

        & > *:not(:last-child) {
            margin-right: 3rem;
        }

        & > * > span {
            font-size: 2rem;
        }
    }

    &__winning > :last-child {
        color: rgb(19, 134, 19);
        transform: scale(1.5);
        font-weight: 600;
    }

    &__frame {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__column {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__tile {
        width: 5rem;
        height: 5rem;
        border: 1px solid black;
        margin: 0.2rem;
        position: relative;

        &--black {
            background-color: rgb(42, 42, 42);
        }

        &--white {
            background-color: rgb(230, 230, 230);
        }

        &--selected {
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(93, 231, 93, 0.739);
                z-index: 10;
            }
        }

        &--possible {
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(252, 255, 104, 0.739);
                z-index: 10;
            }
        }

        &--mandatory {
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(233, 43, 43, 0.739);
                z-index: 10;
            }
        }

        &--to-be-captured {
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(240, 129, 255, 0.739);
                z-index: 10;
            }
        }
    }

    &__piece {
        position: absolute;
        top: 47%;
        left: 47%;
        transform: translate(-50%, -50%);
        width: 4rem;
        height: 4rem;
        box-shadow: 0.2rem 0.2rem 0rem rgba(red, 1);
        border-radius: 50%;
        z-index: 20;

        &--red {
            background-color: red;
            border: 0.5rem solid rgb(112, 6, 6);
            box-shadow: 0.2rem 0.2rem 0rem rgba(red, 1);
        }

        &--white {
            background-color: snow;
            border: 0.5rem solid rgb(192, 192, 192);
            box-shadow: 0.2rem 0.2rem 0rem rgba(snow, 1);
        }
    }
}