.minesweeper {
    background-image: linear-gradient(to bottom,
            rgb(236, 236, 236),
            rgb(151, 151, 151));
    position: relative;

    &__helpscreen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        z-index: 50;
        background-color: rgb(238, 238, 149);
    }

    &__navigation {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        margin: 1rem;

        &>*:not(:last-child) {
            margin-right: 1rem;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }

        ;
    }

    ;

    &__nav-button {
        border: 1px solid rgb(14, 14, 47);
        color: rgb(241, 241, 241);
        border-radius: 2rem;
        background-image: linear-gradient(to bottom,
                rgb(80, 80, 206),
                rgb(21, 21, 70));
        margin: 0;
        padding: 0.2rem 0.6rem;
        box-shadow: 0 0.3rem 0.5rem rgba(black, 0.5);

        &::-moz-focus-inner {
            border: none;
        }

        &:hover {
            background-image: linear-gradient(to bottom,
                    lighten(rgb(80, 80, 206), 8%),
                    lighten(rgb(21, 21, 70), 8%));
            color: darken(rgb(241, 241, 241), 8%);
            box-shadow: 0 0.5rem 0.7rem rgba(black, 0.4);
        }

        &:active {
            background-image: linear-gradient(to bottom,
                    lighten(rgb(80, 80, 206), 25%),
                    lighten(rgb(21, 21, 70), 25%));
            color: darken(rgb(241, 241, 241), 80%);
            box-shadow: 0 0.3rem 0.5rem rgba(black, 0.5);
        }
    }

    &__timer {}

    &__frame {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0.5rem;
        background-color: rgba(255, 250, 250, 0.767);
        border: 3px solid rgb(185, 185, 185);
    }

    &__column {}
}

.mine {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid black;
    margin: 0.2rem;
    border-radius: 0.3rem;
    user-select: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    &--exploded {
        background-color: red;
    }

    &--hidden {
        background-color: rgb(92, 92, 92);
    }

    &--visible {
        background-color: white;
    }

    &--empty {
        opacity: 0;
    }

    &--flag {
        background-color: green;
    }

    &--question {
        background-color: yellow;
    }
}