.scratch {
    background-color: snow;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &__output {
        flex: 1;
        width: 100%;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        padding: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
    }

    ;

    &__form {
        flex: 0 0 20%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        padding: 1rem 1rem 1rem 1rem;
    }

    &__textarea {
        flex: 1;
        height: 100%;
        max-height: 20rem;
        min-height: 10rem;
        border-bottom-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border: 2px solid rgba(128, 128, 128, 0.493);
        padding: 1rem;
        font-size: 1.8rem;
        font-family: monospace;
        color: rgb(46, 46, 46);
    }

    &__button {
        @include button(rgb(255, 199, 209), rgb(255, 96, 96));
        margin-left: 1rem;
        color: rgb(46, 46, 46);
    }
}