.title {
  color: inherit;
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem;
  border-bottom: 3px solid currentColor;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
}

.subtitle > span {
  display: block;
}

.font-mono {
  font-family: monospace;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow: hidden;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightblue;
  overflow: hidden;
  z-index: 100;
  -webkit-box-shadow: 0.8rem 0 1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0.8rem 0 1rem rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 62.5em) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.6);
            box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.6);
  }
}

@media only screen and (max-width: 62.5em) {
  .navigation--drop {
    height: 15rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .navigation--drop {
    height: 25rem;
  }
}

@media only screen and (max-width: 25em) {
  .navigation--drop {
    height: 50rem;
  }
}

.navigation__item {
  text-transform: uppercase;
  margin: 1rem;
  width: 15rem;
  text-decoration: none;
  color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item:link, .navigation__item:visited {
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.navigation__item:hover {
  background-color: red;
}

@media only screen and (max-width: 62.5em) {
  .navigation__item {
    -webkit-transform: translateY(-15rem);
            transform: translateY(-15rem);
    opacity: 0;
  }
}

.navigation__item--drop {
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.3s ease;
  transition: transform 0.2s ease, opacity 0.3s ease, -webkit-transform 0.2s ease;
}

@media only screen and (max-width: 62.5em) {
  .navigation__item--drop {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
    opacity: 1 !important;
  }
}

.screen {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .screen {
    margin-top: 3rem;
  }
}

.game {
  width: 100%;
  height: 100%;
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 62.5em) {
  .game {
    padding: 0;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  margin: 1rem;
}

.form__formbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 1rem 0;
}

.form fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
}

.form fieldset > label {
  margin-bottom: 1rem;
}

.form__text-input {
  text-align: center;
}

.minesweeper,
.memory-game,
.hangman,
.hangman__gamescreen,
.title-screen,
.connect4,
.scratch {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

.title-screen {
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  text-align: center;
}

.button {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8eec82), to(#779e6f));
  background-image: linear-gradient(to bottom, #8eec82, #779e6f);
  font-size: 2rem;
  margin: 1rem;
  width: 100%;
}

.button::-moz-focus-inner {
  border: none;
}

.button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9aee8f), to(#80a478));
  background-image: linear-gradient(to bottom, #9aee8f, #80a478);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
}

.button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a2ef98), to(#85a87e));
  background-image: linear-gradient(to bottom, #a2ef98, #85a87e);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
}

.button--anchor {
  text-decoration: none;
  color: #040e04;
  text-align: center;
}

.button--grey {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(gray));
  background-image: linear-gradient(to bottom, #e2e2e2, gray);
  font-size: 2rem;
  margin: 1rem;
}

.button--grey::-moz-focus-inner {
  border: none;
}

.button--grey:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#888888));
  background-image: linear-gradient(to bottom, #eaeaea, #888888);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
}

.button--grey:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#8d8d8d));
  background-image: linear-gradient(to bottom, #efefef, #8d8d8d);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
}

.button--letter {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(gray));
  background-image: linear-gradient(to bottom, #e2e2e2, gray);
  font-size: 1.3rem;
  height: 3rem;
  margin: 0.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
}

.button--letter::-moz-focus-inner {
  border: none;
}

.button--letter:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#888888));
  background-image: linear-gradient(to bottom, #eaeaea, #888888);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
}

.button--letter:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#8d8d8d));
  background-image: linear-gradient(to bottom, #efefef, #8d8d8d);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
}

.title {
  color: inherit;
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem;
  border-bottom: 3px solid currentColor;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-size: 1.8rem;
}

.subtitle > span {
  display: block;
}

.font-mono {
  font-family: monospace;
}

.ttt {
  background-color: #ebebeb;
  color: #323232;
}

.ttt__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 3rem;
  color: #323232;
}

.ttt__score--player1 {
  background-color: #c8c8c8;
  border: 0.7rem solid #afafaf;
  padding: 2rem 1.5rem;
}

.ttt__score--player2 {
  background-color: #ffb3b3;
  border: 0.7rem solid #ff8080;
  padding: 2rem 1.5rem;
}

.ttt__score--draws {
  background-color: #fafa96;
  border: 0.7rem solid #f5f535;
  padding: 2rem 2.5rem;
}

.ttt__score > * {
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ttt__score > * > :last-child {
  margin-top: 1.5rem;
  font-size: 2.5rem;
}

.ttt__score > *:not(:last-child) {
  margin-right: 3rem;
}

.ttt__score > * > span {
  font-size: 2rem;
}

.ttt__winning > :last-child {
  color: #138613;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  font-weight: 600;
}

.ttt__frame {
  background-image: -webkit-gradient(linear, right top, left bottom, from(#7b7be7), to(#5c335c));
  background-image: linear-gradient(to bottom left, #7b7be7, #5c335c);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 3rem;
}

.ttt__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ttt__tile {
  width: 10rem;
  height: 10rem;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
}

.ttt__tile--center {
  margin: 1rem;
}

.ttt__tile--leftright {
  margin: 1rem 0;
}

.ttt__tile--player1 {
  color: #141414;
}

.ttt__tile--player2 {
  color: #bd0000;
}

.ttt__tile--empty-hover-p1:hover {
  background-color: #c8c8c8;
}

.ttt__tile--empty-hover-p2:hover {
  background-color: #ffb3b3;
}

.ttt__tile--win {
  background-color: #c5ffc5;
}

.ttt__title {
  margin-bottom: 2rem;
}

.ttt__box {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/tictactoe.png");
  background-repeat: round;
  position: relative;
}

.ttt__endgame {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 600;
  color: #060a06;
}

.ttt__endgame--title, .ttt__endgame--victory {
  letter-spacing: -3px;
}

.ttt__endgame--title {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.ttt__endgame--victory {
  font-size: 3rem;
  margin-bottom: 3rem;
  color: #0c660c;
  text-decoration: underline;
}

.ttt__endgame--score {
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -1px;
}

.ttt__endgame--score:last-of-type {
  margin-bottom: 5rem;
}

.ttt__endgame--score--title {
  text-decoration: underline;
}

.ttt__endgame--button {
  max-width: 15rem;
}

.ttt__square {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33% - 6rem);
          flex: 0 0 calc(33% - 6rem);
  height: calc(33% - 6rem);
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ttt__icon {
  font-size: 500%;
}

.ttt__icon--red {
  color: red;
}

.ttt__icon--blue {
  color: blue;
}

.minesweeper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#979797));
  background-image: linear-gradient(to bottom, #ececec, #979797);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.minesweeper__helpscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
  background-color: #eeee95;
}

.minesweeper__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  margin: 1rem;
}

.minesweeper__navigation > *:not(:last-child) {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minesweeper__nav-button {
  border: 1px solid #0e0e2f;
  color: #f1f1f1;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5050ce), to(#151546));
  background-image: linear-gradient(to bottom, #5050ce, #151546);
  margin: 0;
  padding: 0.2rem 0.6rem;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.minesweeper__nav-button::-moz-focus-inner {
  border: none;
}

.minesweeper__nav-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7070d7), to(#1e1e65));
  background-image: linear-gradient(to bottom, #7070d7, #1e1e65);
  color: #dddddd;
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
}

.minesweeper__nav-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b4b4ea), to(#3232a8));
  background-image: linear-gradient(to bottom, #b4b4ea, #3232a8);
  color: #252525;
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.minesweeper__gamescreen {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: rgba(255, 250, 250, 0.767);
}

.minesweeper__mine {
  width: 2rem;
  height: 2rem;
  border: 1px solid black;
  margin: 0.2rem;
  border-radius: 0.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.minesweeper__mine--exploded {
  background-color: red;
}

.minesweeper__mine--hidden {
  background-color: #5c5c5c;
}

.minesweeper__mine--visible {
  background-color: white;
}

.minesweeper__mine--empty {
  opacity: 0;
}

.minesweeper__mine--flag {
  background-color: green;
}

.minesweeper__mine--question {
  background-color: yellow;
}

.memory-game__cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45rem;
}

.card {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-perspective: 15rem;
          perspective: 15rem;
}

.card__front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  background-image: -webkit-gradient(linear, left top, right bottom, from(orangered), to(#ff7300));
  background-image: linear-gradient(to right bottom, orangered, #ff7300);
  z-index: 1;
}

.card--disabled {
  border: 1px solid transparent;
  color: transparent;
}

.rotate-180 {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.rotate180 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.countdown-timer {
  margin: 1rem 1rem 1.2rem 1rem;
  color: #33354b;
}

.countdown-timer__number {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

.hangman {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#adadfd), to(#4343c2));
  background-image: linear-gradient(to bottom, #adadfd, #4343c2);
}

.hangman__endscreen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hangman__title {
  font-size: 3.3rem;
  margin-top: 7rem;
}

.hangman__subtitle {
  font-size: 1.8rem;
  margin-top: 10rem;
  width: 60%;
}

.hangman__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hangman__formbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.hangman__formbox fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hangman__formbox fieldset:not(:last-child) {
  margin-right: 7rem;
}

.hangman__formbox label {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.hangman__formbox label > span {
  display: block;
}

.hangman__warning {
  position: absolute;
  top: 50%;
  left: 220%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.2rem;
  width: 18rem;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbfbf), to(#ff6565));
  background-image: linear-gradient(to bottom, #ffbfbf, #ff6565);
  padding: 1rem;
  border: 2px solid pink;
  border-radius: 2rem;
  -webkit-box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.4);
}

.hangman__checkbox {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.hangman__checkbox-hack {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid #19192c;
  position: relative;
  -webkit-box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hangman__checkbox-hack--unchecked {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-animation: pulse2 0.2s ease forwards;
          animation: pulse2 0.2s ease forwards;
}

.hangman__checkbox-hack--checked {
  background-color: green;
  -webkit-animation: pulse 0.2s ease;
          animation: pulse 0.2s ease;
}

.hangman__input {
  width: 10rem;
  height: 3rem;
  text-align: center;
  padding: 0.3rem;
  border-radius: 0.6rem;
  border: 2px solid #19192c;
  background-color: #f6f6ff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.hangman__input--valid {
  -webkit-box-shadow: 0 0.7rem 1rem rgba(0, 128, 0, 0.6);
          box-shadow: 0 0.7rem 1rem rgba(0, 128, 0, 0.6);
  border: 2px solid #004600;
}

.hangman__input--invalid {
  -webkit-box-shadow: 0 0.7rem 1rem rgba(255, 0, 0, 0.6);
          box-shadow: 0 0.7rem 1rem rgba(255, 0, 0, 0.6);
  border: 2px solid #8a0000;
}

.hangman__input--disabled {
  background-color: rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.4) !important;
          box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.4) !important;
  border: 2px solid #19192c !important;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.hangman__button {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffb7), to(#ffff43));
  background-image: linear-gradient(to bottom, #ffffb7, #ffff43);
  padding: 0.8rem 1.5rem;
  font-size: 2.5rem;
  margin-top: 5rem;
}

.hangman__button::-moz-focus-inner {
  border: none;
}

.hangman__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffc6), to(#ffff52));
  background-image: linear-gradient(to bottom, #ffffc6, #ffff52);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
}

.hangman__button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffd1), to(#ffff5d));
  background-image: linear-gradient(to bottom, #ffffd1, #ffff5d);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
}

.hangman__button--restart {
  margin-top: 10rem;
}

.hangman__lives {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.hangman__lives > span {
  font-size: 2rem;
  margin: 0 0 -0.2rem 0.6rem;
}

.hangman__word {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hangman__letter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 3rem;
  margin: 0.2rem;
  border-bottom: 3px solid transparent;
  width: 2rem;
}

.hangman__letter--hidden {
  color: transparent;
  border-bottom: 3px solid black;
}

.hangman__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  width: 80%;
}

.hangman__letter-button {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(yellow));
  background-image: linear-gradient(to bottom, white, yellow);
  margin: 0.2rem;
  padding: 0.6rem 1rem;
}

.hangman__letter-button::-moz-focus-inner {
  border: none;
}

.hangman__letter-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffff0f));
  background-image: linear-gradient(to bottom, white, #ffff0f);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
}

.hangman__letter-button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ffff1a));
  background-image: linear-gradient(to bottom, white, #ffff1a);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
}

.hangman__letter-button--guessed {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fd9090), to(#e22727));
  background-image: linear-gradient(to bottom, #fd9090, #e22727);
  margin: 0.2rem;
  padding: 0.6rem 1rem;
}

.hangman__letter-button--guessed::-moz-focus-inner {
  border: none;
}

.hangman__letter-button--guessed:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fd9f9f), to(#e43434));
  background-image: linear-gradient(to bottom, #fd9f9f, #e43434);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
}

.hangman__letter-button--guessed:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fda9a9), to(#e53d3d));
  background-image: linear-gradient(to bottom, #fda9a9, #e53d3d);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
}

.connect4 {
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.connect4__player-display {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.connect4__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-bottom: 1px solid blue;
}

.connect4__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 27.5rem;
  position: relative;
}

.connect4__column:first-child::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-left: 1px solid blue;
}

.connect4__column:last-child::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-right: 1px solid blue;
}

.connect4__column:not(:last-child)::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  border-right: 1px solid blue;
}

.connect4__hover-p1:hover {
  border-top: 3px solid blue !important;
}

.connect4__hover-p2:hover {
  border-top: 3px solid red !important;
}

.connect4__item {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  margin: 0.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.connect4__item--p1 {
  background-color: blue;
}

.connect4__item--p2 {
  background-color: red;
}

.checkers {
  background-color: #f5c8c8;
}

.checkers__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 3rem;
  color: #323232;
}

.checkers__score--player1 {
  background-color: #e6e6e6;
  border: 0.7rem solid #cdcdcd;
  padding: 2rem 1.5rem;
}

.checkers__score--player2 {
  background-color: #ffb3b3;
  border: 0.7rem solid #ff8080;
  padding: 2rem 1.5rem;
}

.checkers__score--draws {
  background-color: #fafa96;
  border: 0.7rem solid #f5f535;
  padding: 2rem 2.5rem;
}

.checkers__score > * {
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.checkers__score > * > :last-child {
  margin-top: 1.5rem;
  font-size: 2.5rem;
}

.checkers__score > *:not(:last-child) {
  margin-right: 3rem;
}

.checkers__score > * > span {
  font-size: 2rem;
}

.checkers__winning > :last-child {
  color: #138613;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  font-weight: 600;
}

.checkers__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.checkers__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkers__tile {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  margin: 0.2rem;
  position: relative;
}

.checkers__tile--black {
  background-color: #2a2a2a;
}

.checkers__tile--white {
  background-color: #e6e6e6;
}

.checkers__tile--selected::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(93, 231, 93, 0.739);
  z-index: 10;
}

.checkers__tile--possible::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 255, 104, 0.739);
  z-index: 10;
}

.checkers__tile--mandatory::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 43, 43, 0.739);
  z-index: 10;
}

.checkers__tile--to-be-captured::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 129, 255, 0.739);
  z-index: 10;
}

.checkers__piece {
  position: absolute;
  top: 47%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0rem red;
          box-shadow: 0.2rem 0.2rem 0rem red;
  border-radius: 50%;
  z-index: 20;
}

.checkers__piece--red {
  background-color: red;
  border: 0.5rem solid #700606;
  -webkit-box-shadow: 0.2rem 0.2rem 0rem red;
          box-shadow: 0.2rem 0.2rem 0rem red;
}

.checkers__piece--white {
  background-color: snow;
  border: 0.5rem solid silver;
  -webkit-box-shadow: 0.2rem 0.2rem 0rem snow;
          box-shadow: 0.2rem 0.2rem 0rem snow;
}

.scratch {
  background-color: snow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scratch__output {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 2rem;
}

.scratch__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  padding: 1rem 1rem 1rem 1rem;
}

.scratch__textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  max-height: 20rem;
  min-height: 10rem;
  border-bottom-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border: 2px solid rgba(128, 128, 128, 0.493);
  padding: 1rem;
  font-size: 1.8rem;
  font-family: monospace;
  color: #2e2e2e;
}

.scratch__button {
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc7d1), to(#ff6060));
  background-image: linear-gradient(to bottom, #ffc7d1, #ff6060);
  margin-left: 1rem;
  color: #2e2e2e;
}

.scratch__button::-moz-focus-inner {
  border: none;
}

.scratch__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffd6de), to(#ff6f6f));
  background-image: linear-gradient(to bottom, #ffd6de, #ff6f6f);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.6);
}

.scratch__button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe1e6), to(#ff7a7a));
  background-image: linear-gradient(to bottom, #ffe1e6, #ff7a7a);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.7);
}
/*# sourceMappingURL=style.css.map */