@import "./mixins";

// BASE STYLES

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(to bottom,
            rgb(242, 255, 205),
            rgb(90, 105, 54));
}

// BASE LAYOUT

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;

    width: 80%;
    height: 80%;
    max-width: 100rem;
}

.menu {
    //@include border-debug(red);
    flex: 0 0 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.screen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.game {
    //@include border-debug(darkgreen);
    width: 63vw;
    height: 63vw;
    max-height: 80vh;
    max-width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ttt,
.minesweeper,
.memory-game,
.hangman,
.hangman__gamescreen,
.title-screen,
.connect4,
.checkers,
.scratch {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
}




.title-screen {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
}


//OTHER BASE STYLES

.button {
    @include button(rgb(142, 236, 130), rgb(119, 158, 111));
    font-size: 2rem;
    margin: 1rem;
    width: 100%;

    &--anchor {
        text-decoration: none;
        color: rgb(4, 14, 4);
        text-align: center;
    }
}

.button--grey {
    @include button(rgb(226, 226, 226), rgb(128, 128, 128));
    font-size: 2rem;
    margin: 1rem;
}

.button--letter {
    @include button(rgb(226, 226, 226), rgb(128, 128, 128));
    font-size: 1.3rem;
    height: 3rem;
    margin: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.active {
    @include button(rgb(189, 189, 243), rgb(85, 85, 112));
    font-size: 2rem;
    margin: 1rem;
    width: 100%;
}