.title {
    color: inherit;
    font-size: 4rem;
    font-weight: 600;
    margin: 1rem;
    border-bottom: 3px solid currentColor;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 1.8rem;
    & > span {
        display: block;
    }
}

.font-mono {
    font-family: monospace;
}